<!--
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PF2e Encounter Builder</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/random">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Encounter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/data/monster">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Data Managemet
            </NavLink>
        </li>
    </ul>
</div>
-->
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand text-light" asp-area="" asp-page="/Index">Pathfinder 2e Encounter Builder</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass navbar-collapse d-sm-inline-flex flex-sm-row-reverse" @onclick="CollapseNavMenu">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" href="random" Match="NavLinkMatch.All">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="counter">Counter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="fetchdata">Fetch data</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    void CollapseNavMenu()
    {
        collapseNavMenu = true;
    }
}